body{
   font-family: 'Roboto', sans-serif; 
}
p{
    text-align: center;
    padding: 25px;
}
.container-wrapper{

}
.container-wrapper--light{
    background-color: cadetblue;
    color: antiquewhite;
}
.container-wrapper--dark{
    background-color: #1D3833;
    color: antiquewhite;
}
.nameTagline-container{
    height: 100vh;

  background: url('../images/bar main.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: left;
}

.secondary-image-container{
    height: 20vh;

    background: url('../images/bartaps.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.barinfo {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.map-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
}

.map-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: inherit;
}
/*page headers*/
.page-header{
    margin-top: 5px;
    border-bottom: 0;
    text-align: center;
}
.page-header h2{
    margin-top: 5px;
    border-bottom: 0;
}

/*block-divider*/
.block-divider{
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #ff3df9;
}
/*content-containers*/
/*.content-container{
    padding-top: 75px;
    padding-bottom: 75px;
}
/*navbar*/
.nav-container{
   position: absolute; 
   top: 0;
   left: 0;
   padding-left: 0;
   padding-right: 0;
}
.navbar{
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0);
    z-index: 1;
}
.navbar-bar-name{
    color: #ff3df9;
    font-weight: bolder;
    font-size: x-large; 
}
.navbar .navbar-nav a{
    font-weight: bold;
}

/*jumbotron*/
.jumbotron{
    margin-top: 200px;
    background-color: transparent;
}
.jumbotron-header{
    color: white;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 50px;
}
.jumbotron-tagline{
    color: white;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 20px;
}
/*icons*/
.barinfo i{
    margin-bottom: 20px;
    font-size:35px;
    line-height: 35px;
    display: block;
}
/*footer*/
footer {
    background-color: rgba(0, 0, 0);
    padding: 10px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links .list-inline-item {
    margin-right: 10px;
}

.social-links .list-inline-item:last-child {
    margin-right: 0;
}

.social-links a {
    display: inline-block;
    font-size: 32px;
    color: #ff3df9;
    margin: 15px;
}

.social-links a:hover {
    color: cadetblue;
}
/*Gallery Page*/
.gallery {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.gallery-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
}
.gallery-image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: inherit;
}