body{
   font-family: 'Roboto', sans-serif; 
}
p{
    text-align: center;
}
.container-wrapper{

}
.container-wrapper--light{
    background-color: cadetblue;
    color: antiquewhite;
}
.container-wrapper--dark{
    background-color: #1D3833;
    color: antiquewhite;
}
.nameTagline-container{
    height: 100vh;

  background: url('../images/bar main.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: left;

}

.ethos-container{

}
.ethos-container-text{
    margin: 25px;
    
    text-align: center;
    background-color: antiquewhite;
}

.imagesplit-container{

}
.barinfo-container{

}

.generalinfo-container{

}
/*page headers*/
.page-header{
    margin-top: 5px;
    border-bottom: 0;
    text-align: center;
}
.page-header h2{
    margin-top: 5px;
    border-bottom: 0;
}

/*block-divider*/
.block-divider{
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #ff3df9;
}
/*content-containers*/
/*.content-container{
    padding-top: 75px;
    padding-bottom: 75px;
}
/*navbar*/
.nav-container{
   position: absolute; 
   top: 0;
   left: 0;
   padding-left: 0;
   padding-right: 0;
}
.navbar{
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0);
    z-index: 1;
}
.navbar-bar-name{
    color: #ff3df9;
    font-weight: bolder;
    font-size: x-large; 
}
.navbar .navbar-nav a{
    font-weight: bold;
}

/*jumbotron*/
.jumbotron{
    margin-top: 100px;
    background-color: transparent;
}
.jumbotron-header{
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
.jumbotron-tagline{
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}